:root {
    --main-background-color: #222;
    --text-color: #ddd;
}

header {
    background-color: var(--main-background-color);

}

body {
    /*background-color: var(--main-background-color);*/
    color: #ddd;
    display: flex;
}

.image-container {
    background-color: #444;
}

input {
    background-color: #444; /* Bootstrap primary color */
    color: #ddd;              /* Text color */
}

button {
    background-color: #444; /* Bootstrap primary color */
    color: #ddd;              /* Text color */
}

/* Button hover effect */
button:hover {
    background-color: #555; /* Darker shade for hover */
}

.nav-link {
    color: #094cf6;
}

nav-tabs{
    /*background-color: var(--main-background-color);*/
    color: #68737d;
    background: linear-gradient(0deg, transparent, #191919);

}


footer {
    /*background-color: #222;*/
    color: #ddd;
}


